body{
    margin: 0;
    padding: 0;
    background: rgb(6,128,185);
}
.note{
    position: absolute;
    background: #312c33;
    width: 300px;
    height: 50px;
    top: 20%;
    left: 40%
}
.area{
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    height: 0px; /*200px*/
    overflow: hidden;
    outline: none;
    border: none;
}
textarea{
    position:  relative;
    min-width: 300px;
    height: 200px;
    background: #fff;
    color: #000;
    font-size: 20px;
    font-family: arial;
    outline: none;
    letter-spacing: 1px;
}
h1{
    position: absolute;
    color: #fff;
    font-family: Forte;
    top: -15px;
    left: 5px;
}
i{
    position: absolute;
    top: 24%;
    left: 88%;
    font-size: 25px;
    color: rgb(255, 255, 255);
    transform: rotate(45deg);
}
#click:checked ~ i{
    transform: rotate(270deg);
    transition: .5s;
}
#click:checked ~ .area{
    height: 200px;
    transition: .5s;
}
#click{
    position: absolute;
    width: 50px;
    height: 40px;
    right: 0;
    opacity: 0;
    z-index: 1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .hero{
    width: 100%;
    height: 10vh;
    background-color: transparent;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .logo{
    width: 200px;
    height: 100px;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
  }
  nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
  }
  
  .content{
    text-align: center;
  }
  .content h1{
    font-size: 90px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
  }
  .content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
  }
  .content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
  }
  
  .back-image{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
