*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 200px;
    height: 100px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 17px;
}

.content{
    text-align: center;
}
.content h1{
    font-size: 90px;
    color: #000000;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #000000;
    color: transparent;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #000000;
    font-size: 24px;
    border: 2px solid #000000;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.back-image{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
}



section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(images/studyimage1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    padding: 20px;
    
}

.blink{
    animation: blink 10s linear infinite;
    color: black;
}
@keyframes blink{
    80%{
        opacity: 0;
    }
}
.blink1{
    animation: blink 10s linear infinite;
    color: rgb(0, 0, 0);
}
@keyframes blink1{
    80%{
        opacity: 0;
    }
}
.blink2{
    animation: blink 15s linear infinite;
    color: rgb(0, 0, 0);
}
@keyframes blink2{
    80%{
        opacity: 0;
    }
}
.blink3{
    animation: blink 20s linear infinite;
    color: rgb(0, 0, 0);
}
@keyframes blink3{
    80%{
        opacity: 0;
    }
}
.blink4{
    animation: blink 25s linear infinite;
    color: rgb(0, 0, 0);
}
@keyframes blink4{
    80%{
        opacity: 0;
    }
}
.blink5{
    animation: blink 30s linear infinite;
    color: rgb(0, 0, 0);
}
@keyframes blink5{
    80%{
        opacity: 0;
    }
}
.blink6{
    animation: blink 35s linear infinite;
    color: rgb(0, 0, 0);
}
@keyframes blink6{
    80%{
        opacity: 0;
    }
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(images/studyimage1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;



}
@keyframes animate{
    0%{
        background-image: url(images/studyimage2.jpg);
    }20%{
        background-image: url(images/studyimage3.jpg);
    }40%{
        background-image: url(images/studyimage4.jpg);
    }60%{
        background-image: url(images/studyimage5.jpg);
    }80%{
        background-image: url(images/studyimage6.jpg);
    }100%{
        background-image: url(images/studyimage7.jpg);
    }
}