.blink{
    animation: blink 1.5s linear infinite;
    color: rgb(0, 0, 0);
}
@keyframes blink{
    50%{
        opacity: 0;
    }
}




#note {
        
    width: 500px;
    height: 300px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 18px;
    background-color: #f2f2f2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;

  }
  #note:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  }
  #saveBtn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    float: right;
  }
  #screenshotBtn {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    float: right;
  }
  .dark-mode {
    background-color: rgb(255, 221, 221);
    color: rgb(0, 0, 0);
  }
  #container {
    margin: 30px auto;
    width: 70%;
    text-align: center;
    position: relative;
  }
  h1 {
    font-family: Arial, sans-serif;
    color: blue;
    text-align: center;
    margin-bottom: 30px;
  }
  #darkModeBtn {
    background-color: gray;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    float: right;
  }

  body {
    animation: changeBg 5s infinite
    alternate linear;
}
@keyframes changeBg{
    0% {
        background: #094a86;
    }
    25% {
        background:  #1697b8;
    }
    50% {
        background: #0de5de;
    }
    75% {
        background: #07d3a0;
    }
    100% {
        background: #24d90c;
    }
}


  @media screen and (max-width: 650px){
    #note{
        width: 300px;
    }
    #savebtn{
        top:300px;
    }
  }