body {
    margin: 0;
    background: rgba(12,3,51,0.3);
  }
  
  #app {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 24px;
    gap: 24px;
  }
  
  .note {
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    resize: none;
    font-family: sans-serif;
    font-size: 16px;
  }
  
  .add-note {
    height: 200px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 120px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .add-note:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  


  .HeadLine{
    background-color: rgb(255, 255, 255);
}


.nav{
    background: #ffffff;
    margin-left: -18px;
    overflow: hidden;
}
.nav a{
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 1.7em;
    display:block;
    float: left;
}
.nav a:hover{
    background: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.hero{
  width: 100%;
  height: 20vh;
  background-color: transparent;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo{
  width: 100px;
  height: 200px;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.content{
  text-align: center;
}
.content h1{
  font-size: 90px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}
.content h1:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}
.content a{
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}

.back-image{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
